<html>

  <body>
    <div class="container">
      <h1>Register</h1>
      <br>
      <form action="{{ url_for('addrec') }}" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">  <br> <br> <br>
        <input type="text" placeholder="Email" name="email" value="{{
          request.form.email }}"> <br> <br> <br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">  <br> <br> <br>
        <input class="btn btn-default" type="submit" value="Register">
      </form>
    </div>
  </body>
</html>